<!-- home.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra tienda</title>
    <link rel="stylesheet" href="{{styles}}">
</head>
<body>
    <h1>Bienvenidos a nuestra tienda</h1>
    {{{body}}}
</body>
</html>

